{% extends "layout.html" %}
{% load static from staticfiles %}

{% block body_content %}

  <div class="bounds circle--page">
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Profile</h2>
        <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
           Skills: {% for skill in userprofile.skills.all %}
           {{ skill }}
           {% endfor %}
        </table>
        <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>

{% endblock %}
